<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" />
    <title>Document</title>
    <link rel="icon" href="data:,">

</head>
<body>
    <div class="container">
      <h2 id="head">CASTING AGENCY</h2>
      <button id="btn-login" onclick="login()">Login</button>
      <button id="btn-logout" class="hidden" disabled="true" onclick="logout()">Logout</button>
      <!-- <button id="btn-logout" onclick="logout()">Logout</button> -->

      <button id="movies" class="hidden" disabled="true" onclick="fetch_movies()">Movies</button>
      <button id="actors" class="hidden" disabled="true" onclick="fetch_actors()">Actors</button>
      <div class="hidden" id="gated-content">
        <p>You are <strong>logged in</strong>.</p>
        <p>Access token:</p>
        <div id="access-token-container">
          <p id="ipt-access-token"></p>
        </div>
      </div>
    </div>
      <div id="movies-container" class="hidden">
        <h3 id="title"></h3>
        <h5 id="date"></h5>
        <h5 id="movie_id"></h5>
        <button id="back" onclick="back()">BACK</button>
      </div>

      <div id="actors-container" class="hidden">
        <h3 id="name"></h3>
        <h5 id="age"></h5>
        <h5 id="gender"></h5>
        <h5 id="actor_id"></h5>
        <button id="back" onclick="back()">BACK</button>
      </div>

    <script src="https://cdn.auth0.com/js/auth0-spa-js/1.9/auth0-spa-js.production.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/app.js')}}"></script>
</body>
</html>